---
import { getCollection } from "astro:content";
import { Icon } from 'astro-icon'
import FormattedDate from "./FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<section>
    <ul>
        {
            posts.map((post) => (
                <a href={`/blog/${post.slug}/`}>
                <div class="mb-4 flex w-full max-w-4xl flex-col place-content-center items-center justify-center p-0.5 hover:p-0.25 hover:bg-gradient-to-r hover:from-orange-500 hover:to-pink-500 hover:rounded-2xl">
                <div class="my-auto flex w-full max-w-4xl flex-col place-content-center items-center justify-center gap-4 rounded-2xl bg-tertiary p-6 text-base drop-shadow-2xl">
                        <li class="w-full place-content-center items-center justify-center text-center text-base">
                            {post.data.heroImage && (<img src={post.data.heroImage} class="h-auto max-w-full rounded-lg my-4" loading="lazy" decoding="async" alt="" />)}
                            <h2 class="md:text-2xl text-xl my-8 font-extrabold">{post.data.title}</h2>
                            <p class="flex justify-center items-center mb-1 space-x-1 text-sm md:text-base font-semibold"><span class="inline-flex"><Icon name="lucide:calendar" width={24} height={24}/></span><FormattedDate date={post.data.pubDate} /></p>
                            {post.data.description && (<p class="md:text-xl text-base font-normal">{post.data.description}</p>)}
                        </li>
                </div>
                </div>
                </a>
            ))
        }
    </ul>
</section>
